#  - Node.gitignore
#  - Sass.gitignore

## Node.gitignore ##

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

build-iPhoneOS/
build-iPhoneSimulator/
build/
build/Release

# Dependency directories
node_modules/

## Sass.gitignore ##
.sass-cache/

## Custom stuff ##
reports
screenshots
target
**/aggregated-translations/*.*
lib
props-table
**/__snapshots__/screen
**/__snapshots__/diff
**/__snapshots__/latest
errorScreenshots
.DS_Store
.vscode/
.idea
:
